<header class="header">
  <div class="brand">paintello</div>
  <nav class="nav">
    <a href="/">Home</a>
    <a href="/painters">Find painters</a>
    <a href="/client/projects">Projects</a>
    <a href="/login">Login</a>
  </nav>
</header>

